<form class="container" #form="ngForm" (ngSubmit)="onClickAuthenticate(form.value.token)">
  <input name="token" ngModel class="token-input input" placeholder="Token" #input>
  <button class="btn" type="submit" (click)="onClickAuthenticate(input.value)">Authenticate</button>
</form>
