
.item {
  display: flex;
  margin-bottom: 24px;
  background: var(--color-grey-light-1);
  border-radius: 3px;
  font-size: 1.6rem;
  overflow: hidden;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.05);
  margin: 24px;

  &__poster {
    width: 100px;
    height: 150px;
    background-size: cover;
  }

  &__info {
    flex: 1;
    padding: 16px;
  }

  &:hover {
    box-shadow: 0 1rem 1rem rgba(73, 137, 255, 0.1);
  }

}
