<div class="item" *ngIf="item">
  <div class="item__poster" [ngStyle]="{'background-image': 'url(' + item?.Poster + ')'}"></div>
  <div class="item__info">98bfe05
    <div class="item__title>">Title: {{item?.Title}}</div>
    <div class="item__type>">Type: {{item?.Type}}</div>
    <div class="item__year">Year: {{item?.Year}}</div>
    <div class="item__more-info"><a [routerLink]="['/detail', item?.imdbID]">More info</a></div>
  </div>
</div>
