.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    width: 70%;
    height: 90%;
    padding: 24px;
    border-radius: 3px;
    box-shadow: var(--shadow-light);
    overflow: hidden;
  }
}
