.title {
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-grey-light-3);
}

.item {
  overflow: auto;
  max-height: 100%;

  &__data {
    display: flex;
    padding-top: 24px;
  }

  &__poster {
    width: 400px;
    height: 600px;
    background-size: cover;
  }

  &__info {
    font-size: 1.4rem;
    padding: 24px;
    flex: 1;
  }
}

td {
  padding: 5px;
}
