
<div class="item">
  <a class="link" [routerLink]="['/search']">Go back to search</a>
  <div class="title">{{item?.Title || 'Title not available'}}</div>
  <div class="item__data" *ngIf="item" >
    <div class="item__poster" [ngStyle]="{'background-image': 'url(' + item.Poster + ')'}"></div>
    <div class="item__info">
      <table>
        <tr><td>Actors</td><td>{{item.Actors}}</td><tr>
        <tr><td>Awards</td><td>{{item.Awards}}</td><tr>
        <tr><td>Box</td><td>{{item.BoxOffice}}</td><tr>
        <tr><td>Country</td><td>{{item.Country}}</td><tr>
        <tr><td>DVD</td><td>{{item.DVD}}</td><tr>
        <tr><td>Director</td><td>{{item.Director}}</td><tr>
        <tr><td>Genre</td><td>{{item.Genre}}</td><tr>
        <tr><td>Language</td><td>{{item.Language}}</td><tr>
        <tr><td>Metascore</td><td>{{item.Metascore}}</td><tr>
        <tr><td>Plot</td><td>{{item.Plot}}</td><tr>
        <tr><td>Production</td><td>{{item.Production}}</td><tr>
        <tr><td>Rated</td><td>{{item.Rated}}</td><tr>
        <tr><td>Released</td><td>{{item.Released}}</td><tr>
        <tr><td>Response</td><td>{{item.Response}}</td><tr>
        <tr><td>Runtime</td><td>{{item.Runtime}}</td><tr>
        <tr><td>Type</td><td>{{item.Type}}</td><tr>
        <tr><td>Website</td><td>{{item.Website}}</td><tr>
        <tr><td>Writer</td><td>{{item.Writer}}</td><tr>
        <tr><td>Year</td><td>{{item.Year}}</td><tr>
        <tr><td>imdb ID</td><td>{{item.imdbID}}</td><tr>
        <tr><td>imdb Rating</td><td>{{item.imdbRating}}</td><tr>
        <tr><td>imdb Votes</td><td>{{item.imdbVotes}}</td><tr>
      </table>
    </div>
  </div>
</div>
