:root {
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .1);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
}


* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    color: var(--color-grey-dark-1);
}

body {
    @media (max-width: 900px) {
        padding: 0;
    }

    font-family: 'Open Sans',
    sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    background: linear-gradient(to bottom right, var(--color-grey-light-2), var(--color-grey-light-1));
}


.input {
    height: 40px;
    border-radius: 0;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background: var(--color-grey-light-3);
    border: none;

    &:focus,
    :active {
        outline: none;
        background: var(--color-grey-light-1);
    }
}

.btn {
    height: 40px;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 0px;
    background: var(--color-grey-light-3);
    transition: .2s;

    &:hover:not([disabled]) {
        box-shadow: .1rem 1rem 3rem rgba(0, 0, 0, .06);
    }

    &:focus:not([disabled]),
    :active:not([disabled]) {
        outline: none;
        background: var(--color-grey-light-1);
    }

    &:active:not([disabled]) {
        box-shadow: .5rem 1.5rem 5rem rgba(0, 0, 0, .1);
        transform: scale(1.02);
    }

}

.link {
    &:link,
    &:visited {
        border-radius: 2px;
        text-decoration: none;
        font-size: 1.5rem;
        color: currentColor;
        background: var(--color-grey-light-3);
        padding: .5rem 1rem;
        text-align: center;

        &:hover {
            background: var(--color-grey-light-4);
        }
    }

}
