.container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}

.search-form {
  margin: auto;
}

.search-container {
  display: flex;
  border-bottom: 1px solid var(--color-grey-light-3);
  padding-bottom: 24px;
  flex-direction: column;
}

.count {
  padding-top: 24px;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

.response-container {
  flex: 1;
  padding-top: 24px;
  overflow: auto;
}

.item-list {
  overflow: auto;
  max-height: 100%;
}
