<div class="container">
  <div class="search-container">
    <div class="search-form">
      <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
        <input ngModel name="s" class="search-form__input input" placeholder="Search by title">
        <input ngModel name="y" class="search-form__input input" placeholder="Search by year">
        <select ngModel name="type" class="search-form__select input" placeholder="Search by type">
          <option value="">-</option>
          <option value="movie">Movie</option>
          <option value="series">Series</option>
          <option value="episode">Episode</option>
        </select>
        <input ngModel name="page" class="search-form__input input" placeholder="Search by page" type="number" max="{{getFlooredPage(data?.totalResults)}}">
        <button class="search-form__btn btn" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="count">Total count: {{data?.totalResults || '0'}} page: {{currentPage}} of {{getFlooredPage(data?.totalResults)}}</div>
  <div class="response-container" *ngIf="data && data.Response==='True'">
      <div class="item-list">
        <app-search-item [item]="item" *ngFor="let item of data.Search"></app-search-item>
      </div>
  </div>
</div>
